# Ignore everything by default. Add folders to sync manually
/*
###########################
# ------------ Apps -------------
###########################
# Specific files
!albert.conf
!disable_intel_turbo.sh
!.gitignore
!kidex.ron
!Readme.md
!mimeapps.list

#  App configurations
!alacritty/
!wezterm/
!albert/
!anyrun/
!autostart/
!fastfetch/
!neofetch/
!rog/
!TIPP10/
!ulauncher/
!VeraCrypt/
!wofi/

# System apps configs
!garuda/
!zsh/

###########################
# --- Desktop environments ---
###########################
!gtk-2.0/
!gtk-3.0/
!gtk-4.0/
!gtkrc

# ----- Hyprland -------
!hypr/
!swaylock/
!waybar/
!qt5ct/
# !eww/

# -------- KDE ----------
# Global Theming
!kdeglobals
!kscreenlockerrc
!kwinrc
!gtkrc-2.0
!ksplashrc
!plasmarc
# Colors
!Trolltech.conf
# Window decorations
!breezerc
# Fonts/ Font management
!kcmfonts
!kfontinstuirc
#Cursors
!kcminputrc
# Launch feedback
!klaunchrc
# Splash Screen
!ksplashrc
# Workspace
!globalshortcutsrc
!kactivitymanagerdrc
!kactivitymanagerd-switcher
!kactivitymanagerd-statsrc
!kactivitymanagerd-pluginsrc
!plasma-org.kde.plasma.desktop-appletsrc
# Window management
!kwinrulesrc
# Shortcuts
!khotkeysrc
# Startup and shutdown
!kded5rc
!ksmserverrc
# Search (krunner, file search)
!krunnerrc
!baloofilerc
# Personalization
!plasmanotifyrc
!plasma-localerc
!ktimezonedrc
!kaccessrc
!PlasmaUserFeedback
# Hardware
!kxkbrc
!touchpadxlibinputrc
!kgammarc
!powermanagementprofilesrc
!bluedevilglobalrc
!device_automounter_kcmrc
!kded5rc
