[Desktop Entry]
Exec=/usr/share/kservices5/yubioath-krunner.py
Icon=dialog-scripts
Name=yubioath-krunner.py
Path=
Type=Application
X-KDE-AutostartScript=true
